<h4>Begin your $9.99 a month subscription</h4>
<form action="/users/charge" method="POST" id="payment-form">
  <input type="hidden" value="<%= form_authenticity_token() %>"name="authenticity_token"/>
  <span class="payment-errors"></span>

  <div class="row">
    <div class="col-md-6">
      <label>Card Number</label>
      <input class="form-control" type="text" size="20" data-stripe="number" placeholder="4242424242424242"/>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-2">
      <label>CVC</label>
      <input type="text" data-stripe="cvc" class="form-control" placeholder="123">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-2">
      <label>Expiration</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <label>MM</label>
      <input type="text" data-stripe="exp-month" class="form-control" placeholder="01">
    </div>
    <div class="col-xs-1">
      <label>YYYY</label>
      <input type="text" data-stripe="exp-year" class="form-control" placeholder="2020">
    </div>
  </div>

  <div class="row">
    <br/><button class="btn btn-primary" type="submit">Create Subscription</button>
  </div>
</form>

<script src="https://js.stripe.com/v3/">
    var stripe = Stripe('sk_test_MiU590BO2h0FVrorGmaAiUID00TC2c8q78');
    var elements = stripe.elements();

    var card = elements.create('card');

    // Add an instance of the card UI component into the `card-element` <div>
    card.mount('#card-element');

    var stripeResponseHandler = function(status, response) {
        // Grab the form:
        var form = document.getElementById('payment-form');

        if (response.error) { // Problem!
            // Show the errors on the form:
        } else { // Token was created!
            // Get the token ID:
            var token = response.id;

            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    };

    // Create a token when the form is submitted
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        Stripe.card.createToken(form, stripeResponseHandler);
    });

    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }

    function createToken() {
        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server
                stripeTokenHandler(result.token);
            }
        });
    };

    // Create a token when the form is submitted.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        createToken();
    });

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });
</script>